<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <File name="File" fileName="./Logs/log.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- Log only specific package 'com.sdetadda' with INFO level -->
        <Logger name="com.sdetadda" level="info" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Set the log level for 'org.testng.internal.Utils' to ERROR to exclude its logs -->
        <Logger name="org.testng.internal.Utils" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Set the root logger level to INFO to include other logs -->
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
